<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog-Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <nav class="navbar bg-light navbar-light">
    <div class="container">
      <div class="navbar-header">
        <p class=" navbar-brand">SECOND HOME</p>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a  href="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a  href="/contact">CONTACT US</a>
        </li>
    </div>
  </nav>
  </head>
<body>
<div class="container">
